
body {

		max-width: 700px;
		margin: auto;
		padding-top: 64px;
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom: 64px;
		font-size: 1.1em;
		line-height: 150%;
			}
			
body::selection {
		color: white;
		background-color: red;
}

section {
		margin-bottom: 30px;
}

div {
		margin: 0px;
}
			
a {
		color: red;
	}
			
a:hover {
		background-color: red;
		color: white;
	}
			
ul {
		padding: 0px;
			}

			
ol {
		padding: 0px;
		margin-bottom: 30px;
			}
			
li {
		margin-top: 30px;
		margin-left: 30px;
}

.sticky {
	position: sticky;
	top: 64px;
	border: none;
}

.sticky ul {
		display: inline-block;
		margin-right: 24px; 
}

.sticky a {
		font-size: 0.8em;
}

.caderno {
		letter-spacing: 0.05em;
		font-size: 0.8em;
}

.post {
		margin-bottom: 40px;
}


.nav {
		
		font-size: 1em;
}

.nav ul {
		display: inline-block;
		margin-bottom: none;
		margin-right: 12px; 
		padding: none;
}

.footer {
		margin-top: 10%;
		margin-bottom: 0px;
		font-size: 0.8em;
}